.Weather{
    border: 4px solid #d8698c;
    padding: 16px;
    margin:30px auto;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  .Weather form{
    margin-bottom: 20px;
  }
   .Weather h1{
    display:block;
    color:#e19cb2;
    margin:20px 0 0 0;
    font-size: 48px;
    font-weight: 300;
    line-height: 79px;
   }
   .Weather ul{
    padding:0;
  
   }
   .Weather canvas{
    float:left;
    margin-right: 10px;
    margin-top: 5px;
    
   }
  .Weather li{
      font-size: 18px;
    font-weight: 100;
    line-height: 20px;
     list-style: none;
  }
  
  .Weather .temperature {
  font-weight:400;
  color:#9c566c;
  font-size: 55px;
  line-height: 64px;
  }
  .Weather .unit {
    font-size: 16px;
    color:#161112;
    font-weight: 400;
    position:relative;
    top:-32px;
    line-height: 1;
    
  }